.navbar {
  padding: 30px 0;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 45px;
}

/* .inner-flex {
     margin: 0 22px;
 } */
.nav-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.location-select .Dropdown-control {
  padding: 8px 17px 8px 38px;
  text-align: center;
  width: 100%;
  background: transparent;
  height: 40px;
}

.select-wrap .Dropdown-control {
  width: 100%;
  background: transparent;
  height: 40px;
}

.Dropdown-control {
  cursor: pointer !important;
  border-radius: 6px !important;
  text-align: left !important;
  padding: 8px 17px 8px 15px;
  border-color: var(--input-border) !important;
  background: var(--white);
  height: 40px;
}

.Dropdown-arrow-wrapper {
  display: none;
}

.is-open .Dropdown-control {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.nav-drop {
  position: absolute;
  top: 12px;
  right: 16px;
  z-index: -1;
}

.loc-wrap {
  width: 50%;
}

.loc-wrap,
.select-wrap,
.stuff-wrap {
  position: relative;
}

.select-wrap,
.stuff-wrap {
  width: 25%;
}

.Dropdown-menu {
  border-color: var(--input-border) !important;
  border-radius: 6px !important;
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

.location-ico {
  position: absolute;
  z-index: -1;
  left: 15px;
  top: 9px;
}

.is-open + .nav-drop {
  transform: rotate(180deg);
}

.nav-icons {
  display: flex;
  flex-direction: row;
  gap: 24px;
  width: 130px;
  align-items: center;
}

.nav-btn {
  width: 20%;
}

.nav-input {
  width: 80%;
}
.home-shown {
  display: none;
}
.nav-btn button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 7px 11px 7px 14px;
  font-weight: 600;
  justify-content: center;
  font-size: 16px;
  height: 40px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  color: var(--icon-color);
  cursor: pointer;
  background-color: var(--white);
  font-family: var(--font);
  border: 1.5px solid var(--green);
  border-radius: 26px;
}
.nav-btn button {
  width: 167px;
}
.home-shown button {
  width: 386px;
}

.flex-ico img {
  cursor: pointer;
}
.nav-btn button img {
  margin-right: 7px;
}
.Dropdown-placeholder {
  font-weight: 500;
  font-size: 15px;

  color: var(--text-color);
}
.Dropdown-option {
  text-align: left;
}
.home-page .home-shown {
  display: inherit;
}
.cls {
  margin-bottom: 50px !important;
}
.home-page .home-hidden {
  display: none;
}
.mbl-only {
  display: none;
}
@media (max-width: 1300px) {
  .nav-input {
    width: 60%;
  }

  .nav-btn {
    width: auto;
  }
  .home-shown button {
    width: 141px;
  }
}
@media (max-width: 1200px) {
  .navbar {
    gap: 20px;
  }
  .nav-icons {
    gap: 15px;
  }
  .navbar .Dropdown-placeholder {
    font-size: 14px;
  }
  .nav-btn button {
    font-size: 14px;
    width: 140px;
  }
  .nav-input {
    gap: 10px;
  }
}
@media (max-width: 950px) {
  .nav-btn {
    display: none;
  }
  .navbar {
    justify-content: space-between;
    padding: 15px 0;
  }
  .mbl-only {
    display: block;
  }
  .nav-icons {
    width: auto;
  }
  .nav-input.inner-flex {
    position: absolute;
    width: 100%;
    background: white;
    padding: 0px 0;
    transition: all 0.4s ease;
    gap: 20px;
    flex-direction: column;
    top: 99px;
    z-index: 9999999;
    left: 0;
    overflow: hidden;
    height: 0px;
  }

  .max-height {
    height: 250px !important;
    transition: all 0.4s ease;
  }
  .select-wrap,
  .stuff-wrap,
  .loc-wrap {
    width: 95vw;
    margin: 0 auto;
  }

  .location-ico {
    left: 7.5px;
  }

  .location-select .Dropdown-control {
    padding-left: 31px;
  }
}
