<figure
class="wp-block-embed mt-medium text-center iframe-video container-md aligncenter is-type-video is-provider-youtube wp-block-embed-youtube wp-embed-aspect-16-9 wp-has-aspect-ratio"
><div class="wp-block-embed__wrapper">
http://youtu.be/aj3VDaP5mBM
</div></figure
>

<style>
.iframe-video{
padding-inline: 5%;
text-align: center;
}
.iframe-video iframe{
max-width:1000px;
padding: 0 20px;
}

@media (min-width:1000px) {

.iframe-video iframe{
width: 1000px;
height: 540px;
}
}
@media (min-width:769px) {
.mt-medium {
margin-top: 90px !important;
}
}
</style>