.main-detail {
  background-color: var(--gift-bg);
  padding-top: 130px;
}

.detail-flex {
  display: flex;
  flex-direction: row;
}
.side-detail {
  width: 25%;
}
.center-detail {
  padding: 0 55px;
  box-sizing: border-box;
  width: 50%;
}
.side-detail .indiv-gift {
  box-sizing: border-box;
  width: 100%;
}
.chiv {
  transition: all 0.4s ease;
}

.gap-desc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
}
.gap-desc h3 {
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;

  color: #373d4f;
}

.gap-desc p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;

  color: #373d4f;
}

.left-te {
  text-align: left;
  margin-top: 10px;
}
.mt {
  margin-top: 30px;
}
.qr-code {
  display: flex;
  flex-direction: row;
  gap: 25px;
}
.qr-desc {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 10px;
  text-align: left;
  color: #373d4f;
}

.qr-desc.bold {
  margin-top: 15px;
}
.green.qr-desc {
  cursor: pointer;
}
.rules {
  padding: 30px 20px 10px 20px;

  width: auto;
  height: auto;

  background: #ffffff;
  box-sizing: border-box;
  width: 100%;
  box-shadow: 0px 2px 7px rgba(48, 54, 58, 0.09);
  border-radius: 30px;
}

.rule-heading {
  align-items: center;
  display: flex;
  cursor: pointer;
  flex-direction: row;
  justify-content: space-between;
}

.restriction {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  display: flex;
  align-items: center;
  font-size: 16px;
  gap: 10px;
  color: var(--icon-color);
}
.content-toggle {
  margin-top: 20px;
  height: 0;
  /* padding-bottom: 10px; */
  overflow: hidden;
  transition: all 0.4s ease;

  text-align: left;
}

.content-toggle p {
  margin: 10px 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;

  color: #373d4f;
}

.show-content {
  height: 290px;
  transition: all 0.4s ease;
}
.gift-hr {
  border: 0.5px solid #cbd5e1;
  border-bottom: 0;
}
.rotate-it {
  transform: rotate(180deg);
  transition: all 0.4s ease;
}
@media (min-width: 1450px) {
  .show-content {
    height: 250px;
    transition: all 0.4s ease;
  }
}

@media (max-width: 1300px) {
  .center-detail {
    padding: 0 25px;
    width: 40%;
  }
  .side-detail {
    width: 30%;
  }
}
@media (max-width: 1100px) {
  .show-content {
    height: 315px;
  }
}
@media (max-width: 940px) {
  .detail-flex {
    flex-wrap: wrap;
    /* flex-direction: column; */
  }
  .side-gift {
    width: 42%;
  }
  .center-detail {
    width: 55%;
  }
  .side-rule {
    margin-top: 25px;
    width: 42%;
  }
}
@media (max-width: 740px) {
  .detail-flex {
    flex-direction: column;
  }
  .side-gift {
    width: 100%;
  }
  .center-detail {
    width: 100%;
  }
  .side-rule {
    margin-top: 30px;
    width: 100%;
  }
  .side-gift {
    margin-bottom: 30px;
  }
  .show-content {
    height: 230px;
  }
  .main-detail {
    padding-top: 50px;
  }
}

@media (max-width: 440px) {
  .show-content {
    height: 280px;
  }
  .center-detail .divider-text {
    width: 70%;
  }
  .qr-desc {
    font-size: 12px;
  }
  .center-detail {
    padding: 0 15px;
  }
}
