:root {
  --green: #09af2e;
  --green-hover: #009120;
  --green-active: #00751a;
  --white: #ffffff;
  --input-border: #cbd5e1;
  --font: "Inter", sans-serif;
  --text-color: #0f172a;
  --icon-color: #4c546e;
  --font2: "Montserrat", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font) !important;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

button,
input {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: white;
}
.App {
  text-align: center;
}

.container-width {
  margin: 0 auto;
  width: 89vw;
  text-align: center;
}

.no-left-margin {
  margin-left: 0 !important;
}

.no-right-margin {
  margin-right: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

@media (max-width: 1024px) {
  .container-width {
    width: 95vw;
  }
}
