:root {
  --green: #09af2e;
  --green-hover: #009120;
  --green-active: #00751a;
  --light-green: #374f3d;
  --white: #ffffff;
  --input-border: #cbd5e1;
  --font: "Inter", sans-serif;
  --text-color: #0f172a;
  --business-bg: #fafcfd;
  --gift-bg: #fafcfd;
  --light-bg: #def4e3;
  --icon-color: #4c546e;
  --icon-light: #2a2f3f;
  --font2: "Montserrat", sans-serif;
}
