.main-banner {
  /* margin-top: 44px; */
  background: #def4e3;
}

.banner-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-top: 105px;
  padding-bottom: 105px;
  /* max-height: calc(100vh - 130px); */
}

.white-bx {
  height: 350px;
  box-sizing: border-box;
  width: 100%;
  padding: 40px 60px;
  background: rgba(244, 254, 246, 0.85);
  border-radius: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bx-mbl {
  left: 0;
  top: -40px;
  position: absolute;
}

.bx-mbl img {
  width: 100%;
}
.bx-mbl p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 42px;
  position: absolute;
  width: 95.32px;
  height: 55.89px;
  left: 105px;
  top: 110px;
  font-family: "Rubik", sans-serif;

  color: #343535;

  background: #ffffff;
  box-shadow: 0px 2px 7px rgba(17, 117, 63, 0.15);
  border-radius: 13px;
  transform: matrix(1, -0.09, 0.19, 0.98, 0, 0);
}
.bx-mbl .inner-head {
  position: absolute;
  left: 135.99px;
  top: 164.5px;
  font-weight: 800;
  font-size: 25px;
  text-align: center;
  color: #ffffff;
  transform: matrix(1, -0.09, 0.21, 0.98, 0, 0);
}
.quote-bx {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3px 2px;
  position: absolute;
  left: 116px;
  top: 221.88px;
  background: #343535;
  border-radius: 15px;
  transform: matrix(0.99, -0.1, 0.2, 0.98, 0, 0);
  font-weight: 500;
  line-height: 17px;
  font-size: 15px;
  text-align: center;
  color: #ffffff;
  width: 113.24px;
  height: 72.17px;
  transform: matrix(1, -0.09, 0.19, 0.98, 0, 0);
}
.bold {
  font-weight: 600 !important;
}
.inner-blk {
  display: block;
  margin-top: -5px;
  font-size: 12px;
}
.bx-mbl .top-head {
  position: absolute;
  left: 117px;
  top: 84.6px;
  font-weight: 800;

  font-size: 23px;

  text-align: center;
  color: #ffffff;
  transform: matrix(1, -0.08, 0.18, 0.98, 0, 0);
}

.bx-ul {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  color: var(--text-color);
  text-align: left;
}

.bx-ul li {
  list-style: disc;
}

.right-float {
  width: 51%;
  float: right;
}

.center-li {
  margin: 20px 0;
}

.center-li .lighter {
  font-weight: 400;
}

.bx-btn button {
  display: flex;
  align-items: center;
  color: white;
  padding: 7px 26px 7px 21px;
  gap: 5px;
  cursor: pointer;
  width: 143px;
  height: 38px;
  margin-top: 20px !important;
  background: var(--green);
  border-radius: 26px;
}

.bx-flex {
  display: flex;
  flex-direction: column;
  gap: 29px;

  align-items: start;
  justify-content: center;
}

.single-bx {
  display: flex;
  gap: 24px;
  align-items: center;
  flex-direction: row;
}

.bx-row {
  text-align: left;

  font-weight: 500;
  font-size: 16px;

  color: var(--text-color);
}

@media (max-width: 1300px) {
  .bx-mbl img {
    width: 250px;
  }
  .bx-mbl .top-head {
    left: 103px;
    top: 72.6px;
    font-size: 21px;
  }
  .bx-mbl p {
    left: 92px;
    top: 96px;
    width: 87px;
    height: 50px;
    font-size: 37px;
  }
  .quote-bx {
    padding: 3px 2px;
    left: 105px;
    top: 198.88px;

    font-size: 12px;

    width: 100.24px;
    height: 68.17px;
  }
  .bx-mbl .inner-head {
    left: 117px;
    top: 144.5px;
    font-size: 25px;
  }
  .bx-mbl {
    left: -15px;
  }
  .white-bx {
    padding: 0 30px;
  }
}

@media (max-width: 1200px) {
  .banner-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    height: calc(100vh - 130px);
  }
}
@media (max-width: 980px) {
  .banner-flex {
    flex-direction: column;
    padding: 100px 0;
    height: auto;
  }

  .bx-mbl img {
    width: auto;
  }
  .bx-mbl .top-head {
    left: 118px;
    top: 89.6px;
    font-size: 21px;
  }
  .bx-mbl p {
    left: 107px;
    top: 113px;
    width: 89px;
    height: 52px;
    font-size: 38px;
  }
  .quote-bx {
    padding: 3px 6px;
    left: 117px;
    top: 223.88px;
    font-size: 12px;
    width: 102px;
    height: 68.17px;
  }
  .bx-mbl .inner-head {
    left: 135px;
    top: 163.5px;
    font-size: 25px;
  }
  .right-float {
    width: 60%;
    float: right;
  }
}

@media (max-width: 768px) {
  .right-float {
    width: auto;
  }
  .white-bx {
    height: auto;
    padding: 50px 30px;
  }
  .banner-flex {
    gap: 25px;
  }
  .bx-mbl img {
    width: 250px;
  }
  .bx-mbl .top-head {
    left: 103px;
    top: 74.6px;
    font-size: 21px;
  }
  .bx-mbl p {
    left: 95px;
    top: 98px;
    width: 81px;
    height: 50px;
    font-size: 35px;
  }
  .quote-bx {
    padding: 3px 4px;
    left: 105px;
    top: 202.88px;
    font-size: 12px;
    width: 96px;
    height: 68.17px;
  }
  .bx-mbl .inner-head {
    left: 119px;
    top: 145.5px;
    font-size: 23px;
  }
  .banner-flex {
    padding: 50px 0;
  }
}

@media (max-width: 650px) {
  .white-bx {
    padding: 50px 15px;
  }
  .bx-mbl img {
    width: 200px;
  }
  .bx-mbl .top-head {
    left: 79px;
    top: 60.599999999999994px;
    font-size: 18px;
  }
  .bx-mbl p {
    left: 73px;
    top: 81px;
    font-weight: 700;
    font-size: 29px;
    width: 68px;
    height: 39px;
    line-height: 38px;
  }
  .quote-bx {
    padding: 3px 4px;
    left: 83.7px;
    top: 160.88px;
    line-height: normal;
    font-size: 10px;
    width: 76px;
    height: 54.17px;
  }
  .bx-mbl .inner-head {
    left: 95px;
    top: 119.5px;
    font-size: 19px;
  }
  .inner-blk {
    font-size: 10px;
  }
  .bx-mbl {
    top: 20px;
  }
  .bx-ul {
    font-size: 14px;
  }
  .bx-row {
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  .bx-mbl img {
    width: 220px;
    margin-bottom: 20px;
  }
  .bx-mbl .top-head {
    left: 89px;
    top: 67.6px;
    font-size: 20px;
  }
  .bx-mbl p {
    left: 84px;
    top: 91px;
    font-weight: 700;
    font-size: 29px;
    width: 74px;
    height: 40px;
    line-height: 38px;
  }
  .quote-bx {
    padding: 3px 4px;
    left: 92.7px;
    top: 180.88px;
    line-height: normal;
    font-size: 11.5px;
    width: 85px;
    height: 54.17px;
  }
  .bx-mbl .inner-head {
    left: 104px;
    top: 130px;
    font-size: 22px;
  }
  .bx-mbl {
    position: relative;
    width: max-content;
  }
  .img-relative {
    display: flex;
    justify-content: center;
  }

  .white-bx {
    padding: 35px 15px;
  }
  .right-float {
    width: 100%;
    float: none;
    margin-left: 17px;
  }
}
